
{% extends "base.html" %}




{% block extrahead %}

  {{ super() }}

  {% set default_nav_level = 1 if "navigation.tabs" in config.theme.features else 0 %}
  <style>
    @media (min-width: 1220px) {
      {# Showing decorative left-highlight in navigation #}
      nav[data-md-level="{{default_nav_level}}"] > ul > li.md-nav__item--active {
        position: relative;
      }
      nav[data-md-level="{{default_nav_level}}"] > ul > li.md-nav__item--active::after {
        content: '';
        position: absolute;
        top: 0;
        left: -4px;
        width: 8px;
        height: 100%;
        border-radius: 4px;
        background-color: var(--plg-nav-active-color);
      }

      {# Decrease font-weight of nested items in navigation #}
      nav[data-md-level="{{default_nav_level + 1}}"] .md-nav__link {
        font-weight: 400 !important
      }
    }
  </style>

  {# Link landing-page CSS files #}
  {% if page and page.meta and page.meta.landing_page %}
    <link rel="stylesheet" href="assets/stylesheets/plg-utils/landing-page.css">
    <link rel="stylesheet" href="{{page.meta.landing_page}}.css">
  {% endif %}

{% endblock %}




{% block site_nav %}

  {{ super() }}

  {# Remove content offset when navigation is hidden #}
  {% if page.meta and page.meta.hide and "navigation" in page.meta.hide %}
    <style>
      body {
        --plg-body-nav-offset: 0rem;
      }
    </style>
  {% endif %}

  {# Add landing-page indicator CSS class to main tag #}
  {% if page and page.meta and page.meta.landing_page %}
    <script>
      document.getElementsByTagName("main")[0].classList.add("plg-lp");
    </script>
  {% endif %}

{% endblock %}
