/* Auxiliary variables */
:root {
  /* Customizable */
  --plg-nav-size:         12.1rem;
  --plg-header-size:      3rem;

  /* Rather constant */
  --plg-body-nav-offset:  var(--plg-nav-size);

  --white:          #FFFFFF;
  --black:          #000000;
  --black--25:      #00000042;
  --black--60:      #0000009A;
  --slate-50:       #F8FAFC;
  --slate-100:      #F1F5F9;
  --slate-300:      #CBD5E1;
  --slate-400:      #94A3B8;
  --slate-500:      #64748B;
  --slate-600:      #475569;
  --slate-700:      #334155;
  --slate-800:      #1E293B;
  --slate-900:      #0F172A;
  --amber-100:      #FEF3C7;
  --amber-400:      #FACC15;
  --amber-600--25:  #d9770642;
  --amber-600:      #d97706;
  --emerald-100:    #D1FAE5;
  --emerald-400:    #34D399;
  --blue-100:       #DBEAFE;
  --blue-400:       #60A5FA;  
  --blue-600:       #2563EB;
  --blue-600--25:   #2563eb42;
  --red-100:        #fee2e2;
  --red-400:        #f87171;
  --red-800:        #991b1b;
  --red-800--25:    #991b1b42;
  --violet-100:     #f3e8ff;
  --violet-400:     #c084fc;
  --violet-500:     #a855f7;
  --violet-500--25: #a855f742;
}

/* Light-mode scheme */
[data-md-color-scheme="plg-material-light"] {
  --md-primary-fg-color:            var(--slate-100);
  --md-primary-bg-color:            var(--slate-700);
  --md-footer-bg-color:             var(--slate-100);
  --md-footer-bg-color--dark:       var(--slate-100);
  --md-footer-fg-color:             var(--slate-600);
  --md-footer-fg-color--light:      var(--slate-600);
  --md-typeset-a-color:             var(--blue-600);
  --md-typeset-a-hover-color:       var(--blue-400);
  --md-code-fg-color:               var(--slate-700);
  --md-code-bg-color:               var(--slate-100);

  --plg-primary-bg-color:     var(--white);
  --plg-secondary-bg-color:   var(--slate-100);
  --plg-primary-border:       1px solid var(--slate-300);
  --plg-secondary-border:     1px solid var(--slate-400);

  --plg-table-bg-color:                       var(--white);
  --plg-table-tr-hover-color:                 var(--slate-50);
  --plg-search-bg-color:                      var(--white);
  --plg-admonition-bg-color:                  var(--white);
  --plg-admonition-color-primary--example:    var(--violet-400);
  --plg-admonition-color-secondary--example:  var(--violet-100);
  --plg-admonition-color-primary--failure:    var(--red-400);
  --plg-admonition-color-secondary--failure:  var(--red-100);
  --plg-admonition-color-primary--info:       var(--blue-400);
  --plg-admonition-color-secondary--info:     var(--blue-100);
  --plg-admonition-color-primary--warning:    var(--amber-400);
  --plg-admonition-color-secondary--warning:  var(--amber-100);
  --plg-typeset-search-color:                 var(--slate-500);
  --plg-typeset-passed-color:                 var(--slate-400);

  --plg-nav-bg-color:                 var(--slate-900);
  --plg-nav-title-bg-color:           var(--slate-800);
  --plg-nav-source-bg-color:          var(--slate-700);
  --plg-typeset-nav-color:            var(--white);
  --plg-typeset-button-hover-color:   var(--blue-600);
  --plg-nav-active-color:             var(--emerald-400);
  --plg-nav-hover-color:              var(--emerald-100);
  --plg-nav-current-color:            var(--black--60);
  --plg-toc-active-color:             var(--blue-600);
  --plg-top-button-bg-color:          var(--slate-100);

  --plg-financing-bg-color:           inherit;
}

/* Dark-mode scheme */
[data-md-color-scheme="plg-material-dark"] {
  --md-primary-fg-color:            var(--slate-800);
  --md-primary-bg-color:            var(--slate-300);
  --md-footer-bg-color:             var(--slate-800);
  --md-footer-bg-color--dark:       var(--slate-800);
  --md-footer-fg-color:             var(--slate-100);
  --md-footer-fg-color--light:      var(--slate-100);
  --md-typeset-a-color:             var(--blue-400);
  --md-typeset-a-hover-color:       var(--blue-600);
  --md-code-fg-color:               var(--slate-300);
  --md-code-bg-color:               var(--slate-800);

  --plg-primary-bg-color:     var(--slate-900);
  --plg-secondary-bg-color:   var(--slate-900);
  --plg-primary-border:       1px solid var(--slate-700);
  --plg-secondary-border:     1px solid var(--slate-600);

  --plg-table-bg-color:                       var(--slate-800);
  --plg-table-tr-hover-color:                 var(--slate-700);
  --plg-search-bg-color:                      var(--black--25);
  --plg-admonition-bg-color:                  var(--slate-800);
  --plg-admonition-color-primary--example:    var(--violet-500);
  --plg-admonition-color-secondary--example:  var(--violet-500--25);
  --plg-admonition-color-primary--failure:    var(--red-800);
  --plg-admonition-color-secondary--failure:  var(--red-800--25);
  --plg-admonition-color-primary--info:       var(--blue-600);
  --plg-admonition-color-secondary--info:     var(--blue-600--25);
  --plg-admonition-color-primary--warning:    var(--amber-600);
  --plg-admonition-color-secondary--warning:  var(--amber-600--25);
  --plg-typeset-search-color:                 var(--slate-400);
  --plg-typeset-passed-color:                 var(--slate-500);

  --plg-nav-bg-color:                 var(--slate-900);
  --plg-nav-title-bg-color:           var(--slate-800);
  --plg-nav-source-bg-color:          var(--slate-700);
  --plg-typeset-nav-color:            var(--slate-300);
  --plg-typeset-button-hover-color:   var(--blue-400);
  --plg-nav-active-color:             var(--emerald-400);
  --plg-nav-hover-color:              var(--emerald-100);
  --plg-nav-current-color:            var(--black--60);
  --plg-toc-active-color:             var(--blue-400);
  --plg-top-button-bg-color:          var(--slate-800);

  --plg-financing-bg-color:           var(--white);
}




/* Hide dark/light images on light/dark theme */
[data-md-color-scheme="plg-material-light"] img[src*="--dark"],
[data-md-color-scheme="plg-material-dark"] img[src*="--light"] {
  display: none;
}
/* Hide dark/light images on dark/light theme */
[data-md-color-scheme="plg-material-light"] img[src*="--light"],
[data-md-color-scheme="plg-material-dark"] img[src*="--dark"] {
  display: block;
}




/* Remove scrollbar from nav & toc */
.md-nav__list, .md-sidebar__scrollwrap {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}
.md-nav__list::-webkit-scrollbar, .md-sidebar__scrollwrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}




/* HTML tags styling */
.md-typeset h1,
.md-typeset h5,
.md-typeset h6 {
  color: var(--md-primary-bg-color);
  font-weight: 700;
}
/* Tables */
.md-typeset table:not([class]) {
  background-color: var(--plg-table-bg-color);
}
.md-typeset table:not([class]) tbody tr:hover {
  background-color: var(--plg-table-tr-hover-color);
  box-shadow: none;
}
/* Links */
.md-typeset :target > .headerlink {
  color: var(--md-typeset-a-color);
}
.md-typeset a:focus, .md-typeset a:hover,
.md-typeset .headerlink:focus, .md-typeset .headerlink:hover {
  color: var(--md-typeset-a-hover-color);
}
/* Buttons */
.md-typeset .md-button {
  border: var(--plg-primary-border);
  color: inherit;
}
.md-typeset .md-button:focus,
.md-typeset .md-button:hover {
  background-color: var(--plg-typeset-button-hover-color);
  border-color: var(--plg-typeset-button-hover-color);
}




/* Navigation styling */
.md-sidebar--primary.md-sidebar {
  width: var(--plg-nav-size);
  background-color: var(--plg-nav-bg-color);
  color: var(--md-primary-bg-color);
}
/* Nav-source styling */
.md-nav__source {
  background-color: var(--plg-nav-source-bg-color);
  color: white;
}




/* Header styling */
.md-header {
  background-color: var(--plg-secondary-bg-color);
  border-bottom: var(--plg-primary-border);
}
/* Set header height */
.md-header__inner {
  height: var(--plg-header-size);
}
/* Remove header shadow */
.md-header--shadow {
  box-shadow: none;
}
/* Set header-logo size */
.md-logo {
  width: 6em;
}
.md-header__button.md-logo svg {
  width: 100%;
  height: 100%;
}
/* Header search-input styling */
.md-search {
  margin-right: 8px;
}
.md-search__form {
  background-color: var(--plg-search-bg-color);
  border-radius: 8px;
  border: var(--plg-secondary-border);
}
.md-search__form input::placeholder {
  color: var(--plg-typeset-search-color);
}




/* Main-content styling */
.md-container {
  background-color: var(--plg-primary-bg-color);
  color: var(--md-primary-bg-color);
}
/* Toc passed-item styling */
.md-nav__link--passed {
  color: var(--plg-typeset-passed-color) !important;
}
/* Admonitions styling */
.md-typeset :is(.admonition, details) {
  padding: 0 1rem;
  background-color: var(--plg-admonition-bg-color);
  color: var(--md-primary-bg-color);
}
.md-typeset :is(.admonition-title, summary) {
  margin: 0 -1rem;
}
/* Admonition example */
.md-typeset .example {
  border-color: var(--plg-admonition-color-primary--example) !important;
}
.md-typeset .example > :is(.admonition-title, summary):before {
  background-color: var(--plg-admonition-color-primary--example);
}
.md-typeset .example > summary:after {
  color: var(--plg-admonition-color-primary--example);
}
.md-typeset .example > :is(.admonition-title, summary) {
  background-color: var(--plg-admonition-color-secondary--example);
}
/* Admonition failure */
.md-typeset .failure {
  border-color: var(--plg-admonition-color-primary--failure) !important;
}
.md-typeset .failure > :is(.admonition-title, summary):before {
  background-color: var(--plg-admonition-color-primary--failure);
}
.md-typeset .failure > summary:after {
  color: var(--plg-admonition-color-primary--failure);
}
.md-typeset .failure > :is(.admonition-title, summary) {
  background-color: var(--plg-admonition-color-secondary--failure);
}
/* Admonition info */
.md-typeset .info {
  border-color: var(--plg-admonition-color-primary--info) !important;
}
.md-typeset .info > :is(.admonition-title, summary):before {
  background-color: var(--plg-admonition-color-primary--info);
}
.md-typeset .info > summary:after {
  color: var(--plg-admonition-color-primary--info);
}
.md-typeset .info > :is(.admonition-title, summary) {
  background-color: var(--plg-admonition-color-secondary--info);
}
/* Admonition warning */
.md-typeset .warning {
  border-color: var(--plg-admonition-color-primary--warning) !important;
}
.md-typeset .warning > :is(.admonition-title, summary):before {
  background-color: var(--plg-admonition-color-primary--warning);
}
.md-typeset .warning > summary:after {
  color: var(--plg-admonition-color-primary--warning);
}
.md-typeset .warning > :is(.admonition-title, summary) {
  background-color: var(--plg-admonition-color-secondary--warning);
}
/* Scroll-to-top button */
.md-top.md-icon {
  margin-left: calc((100% - var(--plg-body-nav-offset)) / 2);
  background-color: var(--plg-top-button-bg-color);
  color: inherit;
}
.md-top.md-icon:focus,
.md-top.md-icon:hover {
  background-color: var(--md-typeset-a-color);
  color: var(--white);
}




/* Footer styling */
.md-footer {
  background-color: var(--plg-secondary-bg-color);
  border-top: var(--plg-primary-border);
}
.md-footer-meta {
  background-color: inherit;
}
.md-footer-meta__inner {
  flex-direction: column;
  justify-content: center;
}
/* Footer-socials styling */
.md-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.md-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 24px;
  color: var(--md-primary-bg-color) !important;
}
.md-social__link:hover {
  color: var(--md-typeset-a-color) !important;
}
/* Footer copyright styling */
.md-copyright {
  width: auto;
  text-align: center;
  color: var(--md-footer-fg-color--light);
}




/* Financings section */
.plg-financings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin: 8px 16px;
}
.plg-financing {
  margin: 0 auto;
  background-color: var(--plg-financing-bg-color);
  border-radius: 8px;
}
.plg-financing svg {
  height: 80px;
}
.plg-financing > *:nth-child(even) {
  display: none;
}




@media screen and (max-width: 76.1875em) {
  /* Change navigation background */
  .md-nav--primary .md-nav__title ~ .md-nav__list  {
    background-color: var(--plg-nav-bg-color);
  }
  /* Subcategory title styling */
  .md-nav--primary .md-nav__title[for=__drawer],
  .md-nav--primary .md-nav__title {
    background-color: var(--plg-nav-title-bg-color);
    color: var(--plg-typeset-nav-color);
  }
  /* Nav-item styling */
  .md-nav--primary .md-nav__link {
    outline-offset: -2px;
    font-size: 14px;
    font-weight: 700;
    color: var(--plg-typeset-nav-color);
  }
  .md-nav--primary .md-nav__link:focus,
  .md-nav--primary .md-nav__link:hover {
    color: var(--plg-nav-hover-color);
  }
  .md-nav--primary .md-nav__item--active > .md-nav__link {
    color: var(--plg-nav-active-color) !important;
  }
  /* Add left-highlight to active nav section */
  .md-nav.md-nav--primary > ul .md-nav__item--active > :is(label, a) {
    position: relative;
  }
  .md-nav.md-nav--primary > ul li.md-nav__item--active > :is(label, a):after {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--plg-nav-active-color);
  }
  /* Toc-item styling */
  .md-nav--secondary .md-nav__link {
    outline-offset: -2px;
  }
  .md-nav--secondary .md-nav__link--active {
    color: var(--plg-nav-active-color) !important;
  }
  .md-nav--secondary .md-nav__item .md-nav__link:hover {
    color: var(--plg-nav-hover-color) !important;
  }
}




@media screen and (min-width: 60em) {
  /* Toc styling */
  .md-nav--secondary .md-nav__title {
    padding: 0 0.8rem 0.4rem 0.8rem;
    background-color: var(--plg-primary-bg-color);
    color: var(--md-primary-bg-color);
    text-transform: uppercase;
    box-shadow: none;
  }
  .md-nav.md-nav--secondary, .md-nav--secondary .md-nav {
    font-size: 12px;
  }
  /* Add toc border */
  .md-nav.md-nav--secondary {
    border-left: var(--plg-primary-border);
  }
  /* Toc-items styling */
  .md-nav--secondary .md-nav__item {
    padding: 0;
  }
  .md-nav--secondary .md-nav__item .md-nav__link {
    position: relative;
    padding: 0.4rem 0 0.4rem;
    margin: 0;
  }
  .md-nav--secondary .md-nav__item .md-nav__link:hover {
    color: var(--md-typeset-a-hover-color) !important;
  }
  .md-nav--secondary .md-nav__item .md-nav__link:focus-visible {
    outline-offset: 0px;
  }
  .md-nav--secondary .md-nav__link--active {
    overflow: visible;
    color: var(--plg-toc-active-color) !important;
  }
  .md-nav--secondary .md-nav__link--active:after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    background-color: var(--plg-toc-active-color);
  }
  /* Toc-items offsets, up to 6 levels */
  .md-nav--secondary .md-nav__item .md-nav__link {
    padding-left: calc(var(--plg-toc-items-offset-level) * 0.8rem);
  }
  .md-nav--secondary .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 1; }
  .md-nav--secondary .md-nav__item .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 2; }
  .md-nav--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 3; }
  .md-nav--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 4; }
  .md-nav--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 5; }
  .md-nav--secondary .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__item .md-nav__link
  { --plg-toc-items-offset-level: 6; }




  /* Change footer justification */
  .md-footer-meta__inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .md-copyright {
    text-align: left;
  }




  /* Financings section */
  .plg-financings {
    flex-direction: row;
  }
  .plg-financing > *:nth-child(odd) {
    display: none;
  }
  .plg-financing > *:nth-child(odd):only-child,
  .plg-financing > *:nth-child(even) {
    display: block;
  }
}




@media (min-width: 1220px) {
  /* Navigation styling */
  .md-sidebar--primary.md-sidebar {
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    padding: 0;
    z-index: 5;
  }
  .md-sidebar--primary .md-sidebar__scrollwrap {
    height: 100% !important;
    margin: 0;
    padding: 0;
  }
  .md-sidebar--primary .md-sidebar__inner {
    padding: 0;
  }
  /* Add nav border */
  .md-sidebar--primary {
    border-right: var(--plg-primary-border);
  }
  /* Nav-item styling */
  .md-sidebar--primary .md-nav__link {
    margin-top: 12px;
    padding: 12px 0 12px 16px;
    border-radius: 8px;
    color: var(--plg-typeset-nav-color);
    font-size: 14px;
    font-weight: 700;
  }
  .md-sidebar--primary .md-nav__link:focus,
  .md-sidebar--primary .md-nav__link:hover {
    color: var(--plg-nav-hover-color);
  }
  /* Nested nav-item chevron styling */
  .md-nav__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -.1rem;
    align-self: start;
  }
  /* Add left-highlight to whole most-general active nav category */
  .md-nav.md-nav--primary > ul .md-nav__item--active {
    position: relative;
  }
  .md-nav.md-nav--primary > ul > li.md-nav__item--active:after {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--plg-nav-active-color);
  }
  /* Active nav-items styling */
  .md-nav.md-nav--primary > ul .md-nav__item--active > label, /* nested items */
  .md-nav.md-nav--primary > ul > .md-nav__item--active > a /* not nested items */
  {
    color: var(--plg-nav-active-color);
  }
  /* Add background to not nested items */
  .md-sidebar--primary ul ul .md-nav__link--active {
    background-color: var(--plg-nav-current-color);
  }
  /* Replace nav title with margin */
  .md-sidebar--primary .md-nav__title {
    display: none;
  }
  .md-nav.md-nav--primary > ul > .md-nav__item:first-child .md-nav__link {
    margin-top: var(--plg-header-size) !important;
  }
  /* Nav-tabs index label */
  .md-sidebar--primary .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
    padding: 12px 12px 12px 16px;
    margin-top: var(--plg-header-size);
    background: none;
    font-size: 16px;
    color: var(--plg-nav-active-color);
    box-shadow: none;
  }
  /* Highlight active section in nav-tabs */
  .md-tabs__link.md-tabs__link--active {
    font-weight: 700;
  }




  /* Shift content when navigation is fixed */
  body {
    padding-left: var(--plg-body-nav-offset);
  }
}
