/* Auxiliary variables for both light & dark modes */
[data-md-color-scheme="plg-material-light"],
[data-md-color-scheme="plg-material-dark"] {
  --plg-nav-size:    12.1rem;
  --plg-header-size:    3rem;

  --white:          #FFFFFF;
  --black:          #000000;
  --black--25:      #00000042;
  --black--60:      #0000009A;
  --slate-50:       #F8FAFC;
  --slate-100:      #F1F5F9;
  --slate-300:      #CBD5E1;
  --slate-400:      #94A3B8;
  --slate-500:      #64748B;
  --slate-600:      #475569;
  --slate-700:      #334155;
  --slate-800:      #1E293B;
  --slate-900:      #0F172A;
  --amber-100:      #FEF3C7;
  --amber-400:      #FACC15;
  --amber-800--25:  #CA8A0442;
  --amber-800:      #92400E;
  --emerald-100:    #D1FAE5;
  --emerald-400:    #34D399;
  --blue-100:       #DBEAFE;
  --blue-400:       #60A5FA;  
  --blue-600:       #2563EB;
  --blue-900--25:   #1E3A8A42;
  --blue-900:       #1E3A8A;
}

/* Light-mode scheme */
[data-md-color-scheme="plg-material-light"] {
  --md-primary-fg-color:            var(--slate-100);
  --md-primary-bg-color:            var(--slate-700);
  --md-footer-bg-color:             var(--slate-100);
  --md-footer-bg-color--dark:       var(--slate-100);
  --md-footer-fg-color:             var(--slate-600);
  --md-footer-fg-color--light:      var(--slate-600);
  --md-typeset-a-color:             var(--blue-600);
  --md-typeset-a-hover-color:       var(--blue-400);
  --md-code-fg-color:               var(--slate-700);
  --md-code-bg-color:               var(--slate-100);

  --plg-primary-bg-color:     var(--white);
  --plg-secondary-bg-color:   var(--slate-100);
  --plg-primary-border:       1px solid var(--slate-300);
  --plg-secondary-border:     1px solid var(--slate-400);

  --plg-table-bg-color:                       var(--white);
  --plg-table-tr-hover-color:                 var(--slate-50);
  --plg-search-bg-color:                      var(--white);
  --plg-admonition-bg-color:                  var(--white);
  --plg-admonition-title-bg-color--info:      var(--blue-100);
  --plg-admonition-border-color--info:        var(--blue-400);
  --plg-admonition-title-bg-color--warning:   var(--amber-100);
  --plg-admonition-border-color--warning:     var(--amber-400);
  --plg-typeset-search-color:                 var(--slate-500);
  --plg-typeset-passed-color:                 var(--slate-400);

  --plg-nav-bg-color:         var(--slate-900);
  --plg-typeset-nav-color:    var(--white);
  --plg-nav-active-color:     var(--emerald-400);
  --plg-nav-hover-color:      var(--emerald-100);
  --plg-nav-current-color:    var(--black--60);
}

/* Dark-mode scheme */
[data-md-color-scheme="plg-material-dark"] {
  --md-primary-fg-color:            var(--slate-800);
  --md-primary-bg-color:            var(--slate-300);
  --md-footer-bg-color:             var(--slate-800);
  --md-footer-bg-color--dark:       var(--slate-800);
  --md-footer-fg-color:             var(--slate-100);
  --md-footer-fg-color--light:      var(--slate-100);
  --md-typeset-a-color:             var(--blue-400);
  --md-typeset-a-hover-color:       var(--blue-600);
  --md-code-fg-color:               var(--slate-300);
  --md-code-bg-color:               var(--slate-800);

  --plg-primary-bg-color:     var(--slate-900);
  --plg-secondary-bg-color:   var(--slate-900);
  --plg-primary-border:       1px solid var(--slate-700);
  --plg-secondary-border:     1px solid var(--slate-600);

  --plg-table-bg-color:                       var(--slate-800);
  --plg-table-tr-hover-color:                 var(--slate-700);
  --plg-search-bg-color:                      var(--black--25);
  --plg-admonition-bg-color:                  var(--slate-800);
  --plg-admonition-title-bg-color--info:      var(--blue-900--25);
  --plg-admonition-border-color--info:        var(--blue-900);
  --plg-admonition-title-bg-color--warning:   var(--amber-800--25);
  --plg-admonition-border-color--warning:     var(--amber-800);
  --plg-typeset-search-color:                 var(--slate-400);
  --plg-typeset-passed-color:                 var(--slate-500);

  --plg-nav-bg-color:         var(--slate-900);
  --plg-typeset-nav-color:    var(--slate-300);
  --plg-nav-active-color:     var(--emerald-400);
  --plg-nav-hover-color:      var(--emerald-100);
  --plg-nav-current-color:    var(--black--60);
}




/* Hide dark/light images on light/dark theme */
[data-md-color-scheme="plg-material-light"] img[src*="--dark"],
[data-md-color-scheme="plg-material-dark"] img[src*="--light"] {
  display: none;
}
/* Hide dark/light images on dark/light theme */
[data-md-color-scheme="plg-material-light"] img[src*="--light"],
[data-md-color-scheme="plg-material-dark"] img[src*="--dark"] {
  display: block;
}




/* Remove scrollbar from nav & toc */
.md-sidebar__scrollwrap {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}
.md-sidebar__scrollwrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}




/* HTML tags styling */
.md-typeset h1 {
  color: var(--md-primary-bg-color);
  font-weight: 700;
}
.md-typeset table:not([class]) {
  background-color: var(--plg-table-bg-color);
}
.md-typeset table:not([class]) tbody tr:hover {
  background-color: var(--plg-table-tr-hover-color);
  box-shadow: none;
}
.md-typeset a:focus, .md-typeset a:hover {
  color: var(--md-typeset-a-hover-color);
}




/* Navigation styling */
.md-sidebar--primary.md-sidebar {
  width: var(--plg-nav-size);
  background-color: var(--plg-nav-bg-color);
  color: var(--md-primary-bg-color);
}




/* Header styling */
.md-header {
  background-color: var(--plg-secondary-bg-color);
  border-bottom: var(--plg-primary-border);
}
/* Set header height */
.md-header__inner {
  height: var(--plg-header-size);
}
/* Remove header shadow */
.md-header--shadow {
  box-shadow: none;
}
/* Set header-logo size */
.md-logo {
  width: 6em;
}
.md-header__button.md-logo svg {
  width: 100%;
  height: 100%;
}
/* Header search-input styling */
.md-search {
  margin-right: 8px;
}
.md-search__form {
  background-color: var(--plg-search-bg-color);
  border-radius: 8px;
  border: var(--plg-secondary-border);
}
.md-search__form input::placeholder {
  color: var(--plg-typeset-search-color);
}




/* Main-content styling */
.md-container {
  background-color: var(--plg-primary-bg-color);
  color: var(--md-primary-bg-color);
}
/* Toc styling */
.md-nav--secondary .md-nav__title {
  background-color: inherit;
  color: var(--md-primary-bg-color);
  text-transform: uppercase;
  box-shadow: none;
}
.md-nav__link--passed {
  color: var(--plg-typeset-passed-color);
}
.md-nav--secondary .md-nav__item a:hover {
  color: var(--md-typeset-a-hover-color);
}
/* Admonitions styling */
.md-typeset .admonition {
  background-color: var(--plg-admonition-bg-color);
  color: var(--md-primary-bg-color);
}
.md-typeset .admonition.info {
  border-color: var(--plg-admonition-border-color--info);
}
.md-typeset .info>.admonition-title {
  background-color: var(--plg-admonition-title-bg-color--info);
}
.md-typeset .admonition.warning {
  border-color: var(--plg-admonition-border-color--warning);
}
.md-typeset .warning>.admonition-title {
  background-color: var(--plg-admonition-title-bg-color--warning);
}



/* Footer styling */
.md-footer {
  background-color: var(--plg-secondary-bg-color);
  border-top: var(--plg-primary-border);
}
.md-footer-meta {
  background-color: inherit;
}
.md-footer-meta__inner {
  justify-content: center;
}
/* Footer-socials styling */
.md-social {
  display: flex;
  gap: 16px;
}
.md-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 24px;
  color: var(--md-primary-bg-color) !important;
  &:hover {
    color: var(--md-typeset-a-color) !important;
  }
}




@media screen and (min-width: 60em) {
  /* Add toc border */
  .md-nav.md-nav--secondary {
    border-left: var(--plg-primary-border);
  }

  /* Change footer justification */
  .md-footer-meta__inner {
    justify-content: space-between;
  }
}




@media (min-width: 1220px) {
  /* Navigation styling */
  .md-sidebar--primary.md-sidebar {
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    padding: 0;
    z-index: 5;
  }
  .md-sidebar--primary .md-sidebar__scrollwrap {
    height: 100% !important;
    margin: 0;
    padding: 0;
  }
  .md-sidebar--primary .md-sidebar__inner {
    padding: 0;
  }
  /* Add nav border */
  .md-sidebar--primary {
    border-right: var(--plg-primary-border);
  }
  /* Nav-item styling */
  .md-sidebar--primary .md-nav__link {
    margin-top: 12px;
    padding: 12px 0 12px 16px;
    border-radius: 8px;
    color: var(--plg-typeset-nav-color);
    font-size: 14px;
    font-weight: 700;
    &:hover {
      color: var(--plg-nav-hover-color);
    }
  }
  /* Nested nav-item chevron styling */
  .md-nav__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -.1rem;
    align-self: start;
  }
  /* Add left-highlight to active nav section */
  .md-nav.md-nav--primary > ul .md-nav__item--active {
    position: relative;
  }
  .md-nav.md-nav--primary > ul > li.md-nav__item--active:after {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--plg-nav-active-color);
  }
  /* Active nav-items styling */
  .md-nav.md-nav--primary > ul .md-nav__item--active > label, /* nested items */
  .md-nav.md-nav--primary > ul > .md-nav__item--active > a /* not nested items */
  {
    color: var(--plg-nav-active-color);
  }
  /* Add background to not nested items */
  .md-sidebar--primary ul ul .md-nav__link--active {
    background-color: var(--plg-nav-current-color);
  }
  /* Replace nav title with margin */
  .md-sidebar--primary .md-nav__title {
    display: none;
  }
  .md-nav.md-nav--primary > ul > .md-nav__item:first-child .md-nav__link {
    margin-top: var(--plg-header-size) !important;
  }




  /* Shift content when navigation is fixed */
  .md-main, .md-footer, .md-header {
    padding-left: var(--plg-nav-size);
  }




  /* Toc styling */
  .md-nav.md-nav--secondary, .md-nav--secondary .md-nav {
    font-size: 12px;
  }       
  /* Toc-items styling */
  .md-nav--secondary .md-nav__item {
    padding: 0.6rem 0 0 0.6rem;
  }
  .md-nav--secondary .md-nav__link--active {
    color: var(--md-typeset-a-color);
  }
}